.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #00bfa5;
}

.app-body {
  display: flex;
  background-color: #ededed;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75); 
}